<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <header>
        <h1>Our Products</h1>
        <img class="cart-icon" id="cart-icon" src="../assets/pics/cart.png"/>
    </header>
        <!-- Shopping Cart Overlay -->
        <div class="cart-overlay"  id="cart-overlay">
            <h2>My Cart</h2>
            <div class="cart-items" id="cart-items">
                <!-- Cart items will be dynamically added here -->
            </div>
            <div class="cart-footer">
                <button id="checkout-button">Checkout</button>
            </div>
        </div>
        <div class="sidebar" id="category-list">
            <!-- <nav>
                <ul>
                    <li><a href="./index.html">home</a></li>
                    <li><a href="" id="1">dystopia</a>
                    </li>
                    <li><a href="" id="2">fairy tale</a>
                    </li>
                </ul>
            </nav> -->
        </div>
        <section class="navi" id="navi">
        </section>
        <section class="product-list" id="select-product-list">
        </section>
        <!-- categories-->
        <!-- <section class="category-container">
            <select id="category-select">
                <option value="all">All</option>
                <option value="dystopia">Dystopia</option>
                <option value="fairy tale">Fairy Tale</option>
            </select>
        </section>
         -->

    



        <script src="../assets/js/cart.js"></script>
    <script src="../assets/js/category.js"></script>
</body>
</html>
