<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <header>
        <h1>Log in</h1>
    </header>
    <div  class="indexPage" >
     <div class="banner" >
     <div class="before"></div>
     <div class="log_in">
        <form id="login" >
            <input class="input" placeholder="email"  
            name="email" 
            type="email"
            id="email"  
            />
           <input class="input"  name="password" type="password" id="password" placeholder="password"/>
           <input class="h_input"  id="h_newpassword" name="newPassword" type="password" placeholder="new password"/>

           <button  class="bn" type="submit" name="button" id="btn">
     
           log in
           </button><br/>

         
        </form>
        <div class="left_link" id="changePassword">
           
            <a href="">change password</a>
             </div>
       
       </div>
           </div>
           
     </div>

    
</body>
<script src="../assets/js/login.js"></script>
</html>