<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <header>
        <h1>Product Details</h1>
        <img class="cart-icon" id="cart-icon" src="../assets/pics/cart.png"/>
    </header>
    <div class="cart-overlay"  id="cart-overlay">
        <h2>My Cart</h2>
        <div class="cart-items" id="cart-items">
            <!-- Cart items will be dynamically added here -->
        </div>
        <div class="cart-footer">
            <button id="checkout-button">Checkout</button>
        </div>
    </div>
    <div class="sidebar" id="category-list">
    </div>
    <section class="navi" id="navig">
    </section>
    <section class="product-detail
    " id="product-detail">
    </section>

    
    <script src="../assets/js/cart.js"></script>
    <script src="../assets/js/product.js"></script>
</body>
</html>
